.Home {
  padding: 50vw 0;
}

@media screen and (min-width: 480px) {
  .Home {
    padding: 25vw 0;
  }
}

@media screen and (min-width: 1024px) {
  .Home {
    padding: 20vw 0;
  }
}
@media screen and (min-width: 1366px) {
  .Home {
    padding: 15vw 0;
  }
}
